name: Code Release Week checks

on:
    workflow_call:
        inputs:
            python-version:
                required: false
                type: string
                default: "3.11"

jobs:
    build-docs:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python ${{ inputs.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ inputs.python-version }}
            - name: Install documentation dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install '.[docs]'
            - name: Build documentation
              run: |
                  make docs
    run-tests:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
            fail-fast: false
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python ${{ inputs.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ inputs.python-version }}
            - name: Install test dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install '.[tests]'
            - name: Run tests
              run: |
                  make test
    lint-code:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python ${{ inputs.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ inputs.python-version }}
            - name: Install linting dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install '.[dev]'
            - name: Lint code
              run: |
                  make lint
    build-package:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Python ${{ inputs.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ inputs.python-version }}
            - name: Install build dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install '.[dev]'
            - name: Build package
              run: |
                  make build
